.lado-a-lado{
    display: flex;
}
div{
    width: 100%;
}
input{
    width: 100%;
    box-sizing: border-box;
}
#nome{
    margin-right: 20px;
}
<<<<<<< HEAD
=======
#endereco input{
    width: 100%;
    box-sizing: border-box;
}
>>>>>>> 975d34bc057581a861a088b61e304140219385d0
#regiao{
    width: 100%;
}
#regiao .regiao-div{
    margin-right: 20px;
}
#regiao .regiao-input{
    width: 100%;
}
#contato{
    width: 100%;
}
#contato .contato-div{
    margin-right: 20px;
}
#contato .contato-input{
    width: 100%;
}
#rosto{
    width: auto;
    display: inline-block;
}
#rosto img{
    width: 30%;
    height: auto;
}
#telefone{
    width: auto;
}

#email{
    width: auto;
}
#cep{
    margin: 0;
}